@import "../blocks/_promo.scss";

.container {
  font-family: 'Silkscreen', cursive;
  max-width: 960px;

  margin: 0 auto;
  list-style: none;


  .text__block{
    color: white;
    text-align: center;
    margin-top: 90px;
  }


}
@import "../blocks/_header.scss";
@import "src/blocks/promo_2";
@import "src/blocks/_main";
@import "src/blocks/modal";
@import "src/blocks/block";
