.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 50px;

    img {
      width: 100%;
    }

  }

  .menu {
    width: 50%;
    display: flex;
    justify-content: space-around;

    &__item {
      font-size: 20px;
      color: white;
    }
  }
  &__phone{
    font-size: 15px;
    text-decoration: none;
    color:white;
  }
}