.header {
  display: flex;
  justify-content: center;
  min-width: 560px;
  height: 10%;
  margin: 0 auto;
  align-items: center;
  width: 70%;

  background: rgba(0, 0, 0, 0.5);
  &__form{
    display: flex;
    width: 13%;
    margin-left: 2%;
    justify-content: space-between;
    margin-right: 2%;
  }
  &__logo {
    width: 6%;

    img {
      width: 100%;
    }

  }

  .active {
    border-bottom: 3px solid red;
  }

  .hide {
    border-bottom: none;
  }

  .menu {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
      display: flex;
      font-size: 20px;
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      justify-content: center;
      &:hover {
        cursor: grab;
        border-bottom: 3px solid red;

      }
    }
  }


  @import "button";


}