.promo {
  min-width: 500px;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 3% 0 17% 0;
  background: url(../img/background.jpeg) center/cover no-repeat;
  /* Черный с непрозрачностью */

  &__wrapper{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    &__text{
      display: flex;
      color: white;

      font-size: 60px;

      text-align: center;
    }
  }
}

